* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.main-signup {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("website-background.jpg");
    background-size: cover;
    background-size: auto;
    background-color: rgba(255, 255, 255, 0.6);
}

.signup-container {
    background-color: white;
    width: 30em;
    height: 35em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.google {
    background-image: url("./icons8-google-48.png");
}

.facebook {
    background-image: url("./icons8-facebook-48.png");
}

.other-signup {
    width: 80%;
    height: 3em;
    display: flex;
    justify-content: space-around;
}

.other-signup div {
    width: 45%;
    height: 90%;
    border-radius: 0.25em;
    background-color: black;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}